.dots-cont {
}

.container-dot {
    margin: 100px auto;
    padding: 0px;
    max-width: 360px;
    texta-align: center;
    position: relative;
    zIndex: 9999;
    top: 0;
}

.dot {
    width: 24px;
    height: 24px;
    background: deepskyblue;
    display: inline-block;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    margin: 0px 2.5px;
    position: relative;
    animation: jump 1s infinite;
}

.dots-cont:hover > .dot {
    /* position: relative; */
    /* bottom: 0px; */
    /* animation: jump 1s infinite; */
}

.dots-cont .dot-1 {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}

.dots-cont .dot-2 {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}

.dots-cont .dot-3 {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}

@keyframes jump {
    0% {
        bottom: 0px;
    }
    20% {
        bottom: 8px;
    }
    40% {
        bottom: 0px;
    }
}
